*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient( #414141 , #808080 , black);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container input{
    margin: 8px 0;
    height: 20px;
    border: none;
    border-radius: 3px;
}
#submit{
    background-color:darkred;
    color: #ffffff;
    position: relative;
    left: 30%;
    padding: 0 10px;
}
#submit:hover{
    background-color: #222121;
}