*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right , #EA8D8D , #A890FE);
}
.container{
    width: 450px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
h1{
    margin-top: 30px;
}
.container #input-box{
    width: 70px;
    height: 40px;
    background-color: transparent;
    text-align: center;
    font-size: 30px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 5px black;
}
.container button{
    background-color: blue;
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 30px;
}
.container button:hover{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid blue ;
    color: blue;
}